{{ define "main" }}

<section class="speaker-2 section">
  <div class="container">
    <div class="lead mb-4">
      {{ .Content }}
    </div> 
    <div class="speaker-strip">
      {{ range .Data.Pages.ByTitle }}
        {{ if in .Params.events .Site.Params.active_event }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              <img src="{{ with .Params.images }}{{ index . 0 }}{{ end }}" alt="{{ .Title }}" class="img-fluid shadow border-img">
            </a>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-1 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
            <p class="designation-color">{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
        {{ end }}
      {{ end }}
    </div>
    <p class="text-center mt-4 mb-3">Check out the <a href="/speakers/archive">speaker archives</a> for speakers of previous editions.</p>
  </div>
</section>

{{ end }}