<article class="shadow-lg p-3 mb-2 bg-white rounded border mb-4">
    <div class="content py-3 px-2 ">
        <h4 class="my-2">{{ .Title | markdownify }}</h4>
        <div class="swag-info">
            <img class="img-fluid" src="{{ .Params.Image }}">
            <p class="module line-clamp">{{ .Summary }}</p>
        </div>
        
        <div class="text-right" style="margin-top: 15px;">
            <a id="nav-button" style="text-decoration: none;" href="{{ .Permalink }}" class="btn">Check it out! &nbsp;<i class="fas fa-arrow-right"></i></a>
        </div>

    </div>
</article>