<section class="section blog">
  <div class="blog-bg">

    <h2>Latest News</h2>

    <div class="row">
      {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" "blog" )}}
      <div class="col-12 col-md-4 px-3 mb-3">

        <div class="card h-100 shadow p-3 mb-6 border-card latest-news">

          {{ if hasPrefix .Params.redirection "http" }}
          <a href="{{ .Params.redirection }}" target="_blank">
          
          {{ with .Params.images }}
          {{ $img := resources.Get (index . 0) }}
          {{ if $img }}
          {{ $webp := $img.Resize "800x webp q85" }}
          <img src="{{ $webp.RelPermalink }}" alt="{{ $.Title | markdownify }}" class="img-fluid" style="cursor: pointer">
          {{ end }}
          {{ end }}

              <p>{{.Title}}</p>
          </a>

          {{ else }}

          <a href="{{ .Params.redirection | relURL }}">

          {{ with .Params.images }}
          {{ $img := resources.Get (index . 0) }}
          {{ if $img }}
          {{ $webp := $img.Resize "800x webp q85" }}
          <img src="{{ $webp.RelPermalink }}" alt="{{ $.Title | markdownify }}" class="img-fluid" style="cursor: pointer">
          {{ end }}
          {{ end }}

            <p>{{.Title}}</p>
          </a>

          {{ end }}

        </div>
      </div>

      {{ end }}
    </div>
  </div>
</section>