<section>
    <div class="sponsors text-center">
        <h2>Look back to the previous editions</h2>
    </div>

    <!-- Demo styles -->
    <style>
        .swiper-carousel {
            padding-top: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 400px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
        }
    </style>

    <!-- Swiper -->
    <div class="swiper-carousel carousel-img">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img src="images/carousel/2026/1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/2.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/3.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/4.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/5.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/6.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/7.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/8.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/9.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/10.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/11.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/12.jpg" />
            </div>

            <div class="swiper-slide">
                <img src="images/carousel/2026/13.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/14.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/15.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/16.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/17.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/18.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/19.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/20.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/21.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/22.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/23.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/24.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/25.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/26.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/27.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/28.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/29.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/30.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/31.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/32.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/33.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/34.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/carousel/2026/35.jpg" />
            </div>
        </div>
        
    </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".carousel-img", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>

<!--<img src="images/colors-line.png" style="width: 100%; margin-top: -30px;">-->