{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}

<section class="section event-info">
  

  <div class="event-info-title">

    
    <h2>Apache Beam is a powerful tool for building data processing pipelines <br> with a unified programming model for
      batch and streaming
    </h2>
  </div>

  <div class="row">

    <div class="col-lg-6 cfp-msj">
      <div class="cfp-title">

        <h3>Apache Beam is the unified programming model for batch and stream data processing. Watch the recordings of Beam Summit 2025 to explore how Beam empowers data engineers to build next-generation data solutions.</h3>

         <a href="sessions/2025">
                    <button class="button mx-auto d-block">2025 Sessions</button>
          </a>

      </div>

    </div>
    <div class="col-lg-6 complement-info">
      <div class="d-flex flex-column bd-highlight mb-3">

        <div class=" bd-highlight  ">
          <strong>
            <h4>
              Learn
            </h4>
          </strong>

          <p>
            How Beam is used by leading organizations
          </p>
        </div>

        <div class=" bd-highlight">
          <strong>
            <h4>
              Meet
            </h4>
          </strong>
          <p>Key users and contributors from the community</p>
        </div>

        <div class=" bd-highlight">
          <strong>
            <h4>
              Audience
            </h4>
          </strong>
          <p>Data Engineers, Tech Managers, Data Scientist, Business Leaders</p>
        </div>
      </div>
    </div>


  </div>
</section>

{{ end }}


