<!-- Navigation Start -->
<header class="header-bar">
  <nav class="navbar navbar-expand-lg main-nav fixed-top">
    <div class="container">
      <!-- LOGO BAR -->
      <a class="navbar-brand menu-logo" href='{{ "/" | relURL }}'>
        <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}" class="img-fluid logo-b">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="tf-ion-android-menu" style="color: white;"></span>
      </button>
 
      <!--  MAIN MENU  -->
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown btn-menu">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Name }}
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                <a class="dropdown-item"  href="{{ .URL | relURL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item btn-menu">
              <a class="nav-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          {{ end }}

          {{ if .Site.Params.navigation_button.enable }}
          <li class="btn-cta">
            <a  href="{{ .Site.Params.navigation_button.link | absURL }}"
            class="nav-link cta-menu" style="color: #167CD6; !important">{{ .Site.Params.navigation_button.label }}</a>
          </li>
          {{ end }}
        </ul>                
      

      </div>
    </div>
  </nav>
</header>
<!-- Navigation End -->