{{ $data := index .Site.Data }}

<!-- banner -->
{{ with $data.homepage.banner }}



<div class="section-banner">
  <div class="mascot-containe">
    <img src="" class="img-fluid">
  </div>
  <div class="info-container">
    <div class="info-area">
      <div class="logo">
        <img src="{{ .logo }}" />
      </div>
      <div class="meta">
        <p class="sub-hero">{{ .subtitle }}</p>
        <p class="mb-2 date">{{ .date }}</p>
        <p class="mb-4 location">{{ .venue | markdownify}}</p>
      </div>
    </div>

    {{ if .button1.enable }}
    {{ with .button1 }}
    {{ $link := .link }}
    <a href="{{ if or (hasPrefix $link " https://") (hasPrefix $link "http://" ) }}{{ $link }}{{ else }}{{ $link |
      relURL }}{{ end }}" {{ if or (hasPrefix $link "https://" ) (hasPrefix $link "http://" ) }} target="_blank"
      rel="noopener noreferrer" {{ end }} class="btn btn-banner1 btn-rounded mt-3">
      {{ .label }}
    </a>
    {{ end }}
    {{ end }}

    {{ if .button2.enable }}
    {{ with .button2 }}
    {{ $link := .link }}
    <a href="{{ if or (hasPrefix $link " https://") (hasPrefix $link "http://" ) }}{{ $link }}{{ else }}{{ $link |
      relURL }}{{ end }}" {{ if or (hasPrefix $link "https://" ) (hasPrefix $link "http://" ) }} target="_blank"
      rel="noopener noreferrer" {{ end }} class="btn btn-banner1 btn-rounded mt-3">
      {{ .label }}
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}