{{ $data := index .Site.Data }}

<!-- banner -->
{{ with $data.homepage.banner }}
<br><br><br>
<div class="mt-4" style="margin-bottom: -45px;">
  <div class=" container text-center">
    <div class="row">
      <div class="col-6 d-none d-md-block ">
        <p style="font-size: 14px; font-weight: 800;">
          Join us for Beam College 2025 this May 15th & 18th. It's free and online. Don't miss the online training + hackathon!
      </div>
      <div class="col-md-3 mb-2">
        <img src="images/logo-simple-bc.svg" class="img-fluid" width="100">
      </div>
      <div class="col-md-3">
            <a  href="https://beamcollege.dev/" target="_blank" class="nav-link cta-menu btn-cta text-uppercase"  style="color: #167CD6; !important"><strong>Register</strong></a>
          
      </div>
    </div>
  </div>
</div>

<div class="section-banner">
  <div class="mascot-containe">
    <img src="" class="img-fluid">
  </div>
  <div class="info-container" >
    <div class="info-area">
      <div class="logo">
        <img src="{{ .logo }}" />
      </div>
      <div class="meta">
        <p class="sub-hero">{{ .subtitle }}</p>
        <p class="mb-2 date">{{ .date }}</p>
        <p class="mb-4 location">{{ .venue | markdownify}}</p>
      </div>
    </div>


    {{ if .button1.enable }} {{ with .button1 }}
    <a href="{{ .link | relURL }}" target="_blank" class="btn btn-banner1 btn-rounded mt-3">{{ .label }}</a>
    {{ end }} {{ end }} {{ if .button2.enable }} {{ with .button2 }}
    <a data-tf-popup="cJrYZIPr" href="{{ .link | relURL }}" target="_blank" class="btn btn-banner1 btn-rounded mt-3">{{
      .label }}</a>
    <script src="//embed.typeform.com/next/embed.js"></script>
    {{ end }} {{ end }}
  </div>
</div>
{{ end }}