    <div class="keynotes">
     <h2>KEYNOTES</h2> 
    </div>
    <br>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>
        <div class="card h-100 swiper-slide border-0">
            <div class="image-content">
                <span class="overlay"></span>
                <a href="#">
                <div class="card-image">
                   <img src="images/speakers/jeff-klukas.jpg" alt="" class="card-img">
                </div>
                </a>
            </div>
            <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">Designation @company</p>

                <button class="button">View More</button>
            </div>
        </div>

    </div>
    <!--<div class="swiper-pagination"></div>-->
  </div><br>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      },

      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 45,
        },
      },
    });
  </script>
</body>

</html>
