{{ $data := index .Site.Data }}

<!-- banner -->
{{ with $data.homepage.banner }}

<div class="section-mascot-venue">
  <div class="mascot-container">
    <img src="" class="img-fluid" />
  </div>
  <div class="info-container">
    <div class="info-area-mascot">
      <div class="logo">
        <img src="{{ .logo }}" />
      </div>
          <div class="meta">
            <p class="mb-2 date">Enjoy your visit to Sunnyvale!</p>
          </div>            
    </div>

    <a href="/venue" class="btn btn-banner1 btn-rounded mt-3">About the venue</a>

  </div>
</div>
{{ end }}
