
<section class="page-header" style="background-image: url('{{ .Params.Bg_image | absURL }}'), url('{{`images/internal-page-2025.png` | absURL }}'); background-size: cover;
background-position: left;
text-align: center; 
   ">
<br><br>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="content text-center">
            <h1 class="mb-3 text-white" 
            style=" 
            background-color:#F78557; 
            border-radius: 25px">{{ .Title }}</h1>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>