{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-venue">
  <div class="venue-info">
    <h2>The event venue will be located in NYC’s Pier 57 with expansive views of the Hudson River and <br>

      Manhattan skyline as a donation from Google’s sponsorship. More <a href="#">about the venue.</a></h2>
  </div>


    <img src="images/venue-img.jpg" alt="Super Pier NYC – Culture Cargo Chaos – Illustration with Pandiscio for Young Woo Client: Pandiscio Co. Young Woo, USA" class="img-fluid" width="100%" >

  

</section>
