.section-banner {
  background-color: $background;
  height: 100vh;
  display: grid;
  gap: 10px 20px;
  grid-template-rows: minmax(120px, 240px) minmax(150px,250px) minmax(200px, 300px);
  text-align: center;


  @media (max-width:875px) {
    height: 80vh;
  }

  @media (max-width: 767px) {
    height: 100vh;
  }

  .logo {

    margin-top: 190px;
    align-self: start;
    background-color: white;
    border-radius: 120px 0px 0px 120px;    
    padding: 50px 50px 50px 50px;

    @media (max-width: 767px){
      margin-top: 15px;
    }

    @media (max-width: 1900px){
      margin-top: 110px;
    }
    

  }


  .mascota{
    margin-top: 120px;

    @media (max-width: 1177px) {
      margin-top: 180px;
      margin-bottom: -75px;
      
    }

  }


  .mascota img {

    
    @media (max-width: 1900px){
      max-height: 68vh;
      margin-top: 0px;
    }


    @media (max-width: 767px){
      max-height: 25vh;
      margin-top: -90px;
    }

 }

  .sub-hero{
  color: $secondary-color !important;
  font-weight: 600;
  margin-bottom: 35px;
  @media (max-width: 875px){
    margin-bottom: 15px;
  }
  }


  .meta {

    align-self: end;
    margin-top: 30px;
 

    @media (max-width: 875px) {
      margin-top: 20px;
    }
  }

  .logo img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 17vh;

    @media (max-width: 767px){
      max-height: 10vh;
      margin-top: 0px;
    }

  }

  .meta p {
    font-family: 'Comfortaa', Roboto, cursive, sans-serif;
    font-size: 2.0em; 
    color: $orange;

    @media (max-width: 1900px){
      font-size: 1.4em; 
    }
    @media (max-width:1035px) {
      font-size: 1.4em;  
    }
  }


  .scroll-link {
    margin-top: 30px;
  }

  .scroll-link img {
    height: 30px;
  }

  .divider {
    width: 120px;
    height: 6px;
    background: $primary-color;
    display: block;
  }

  .btn-banner1 {
    background-color: $blue;
    color: white;
    font-weight: 500;
    letter-spacing: .1em;
    border-radius: 50px;
    font-size: 1.8em;
    padding: 20px 30px 20px 30px;


    @media (max-width: 1900px){
      font-size: 1.1em; 
    }

    @media (max-width:875px) {
      padding: 10px 20px 10px 20px;
      font-size: 1.1em;
      
    }

    &:hover {
      color: $blue;
      background-color: $yellow;
    }
  }

  .btn-banner2 {
    background-color: $yellow2;
    color: $white;
    font-weight: 500;
    letter-spacing: .1em;

    &:hover {
      background-color: $yellow;
      color: $white;
    }
  }
}