/*------------ Event info ----------------------- */

.event-info-title{
    background: rgb(22,155,214);
background: linear-gradient(180deg, rgba(22,155,214,1) 0%, rgba(22,124,214,1) 100%);
    padding: 30px; 
    margin-top: -40px;
}

.event-info-title h2{
    color: white;
    text-align: center;

}


.cfp-msj{
    background-color: white; 
    padding: 30px 35px 35px 35px;
}

.cfp-title{
    
    margin-top: 35px;
    background-color: #167cd6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
        margin-top: 15px;
    }
}

.cfp-title h3{
    text-align: center;
    margin-bottom: 28px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

    @media (max-width: 1213px) {
        font-size: 1.5em;
        padding: 25px;
        margin-bottom: -2px;
    }
}


.cfp-btn{
    background-color: $orange-title; 
    color: white !important; 
    border-radius: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 90px 0px 90px;
    font-weight: 500;
    font-size: 1.2em;

    &:hover{
        background-color: $yellow;
        color: $blue-title !important;
        font-weight: 500;
    }

}

.complement-info{
    background-color: white;
    padding: 35px;
}

.complement-info h4{
    color: $blue-title;
    margin-top: 25px;
}


.complement-info p{
    color: $orange;
    font-size: 1.2em;
}

.cfp-video{
    background-color: $blue-title; 
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1143px){
        display: flex;
    }
}



/*----------------- Venue Info------------------------ */

.venue-info{
    background: rgb(22,155,214);
background: linear-gradient(0deg, rgba(22,155,214,1) 0%, rgba(22,124,214,1) 100%);
    padding: 30px; 
    margin-top: -40px
}


.venue-info h2{
    text-align: center; 
    color: white;
}

.venue-info a{
    color: $orange-title;
    text-shadow: #085c90 1px 1px 1px;
}



/*--------------- Previous Events--------------------*/


.previous-events{
    background-color: $blue-title;
    
}


.previous-title h2{
    text-align: center; 
    color: white;
    margin-bottom: 25px;
}